<div class="about-us-section">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Image Section -->
      <div class="col-lg-6">
        <div class="about-images">
          <div class="image-container main-image">
            <img src="left1.png" alt="Gift boxes" class="img-fluid">
          </div>
          <div class="image-container floating-image-1">
            <img src="left2.png" alt="Gift card" class="img-fluid">
          </div>
          <div class="image-container floating-image-2">
            <img src="left3.png" alt="Gift with confetti" class="img-fluid">
          </div>
        </div>
      </div>

      <!-- Right Content Section -->
      <div class="col-lg-6">
        <div class="about-content">
          <div class="about-badge">ABOUT US</div>
          <h2 class="about-title">
            We Provide Best And Quality <span class="highlight">Gifts Box</span> Product For You
          </h2>
          <p class="about-description">
            Recusandae tempora aut laborum molestias veniam. A commodi sequi accusantium ullam cupiditate. Neque quidem qui et autem dolor dicta necessitaibus ut ad.
          </p>
          <button class="btn btn-about">
            Discover More <i class="fas fa-arrow-right"></i>
          </button>

          <!-- Feature Points -->
          <div class="feature-points">
            <div class="row">
              <div class="col-6">
                <div class="feature-point">
                  <div class="feature-icon">
                    <i class="fas fa-check"></i>
                  </div>
                  <span>Streamlined Shipping Experience</span>
                </div>
              </div>
              <div class="col-6">
                <div class="feature-point">
                  <div class="feature-icon">
                    <i class="fas fa-check"></i>
                  </div>
                  <span>Affordable Modern Design</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="feature-point">
                  <div class="feature-icon">
                    <i class="fas fa-check"></i>
                  </div>
                  <span>Competitive Price & Easy To Shop</span>
                </div>
              </div>
              <div class="col-6">
                <div class="feature-point">
                  <div class="feature-icon">
                    <i class="fas fa-check"></i>
                  </div>
                  <span>We Made Awesome Products</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>