<div class="container gift-collections">
  <div class="row g-4">

    <div class="col-lg-4">
      <div class="collection-card" data-scheme="blue">
        <div class="background-image">
          <img src="img1.png" alt="Awesome Gifts Box Collections background">
        </div>
        <div class="card-content">
          <div class="top-content">
            <div class="category-badge badge-blue">
              Gifts Box
            </div>
            <h3 class="card-title">Awesome Gifts Box Collections</h3>
          </div>
          <button class="btn btn-collection btn-blue">
            Shop Now
          </button>
        </div>
        <div class="decorative-elements elements-blue">
          <div class="star star-1"></div>
          <div class="star star-2"></div>
          <div class="star star-3"></div>
          <div class="star star-4"></div>
          <div class="star star-5"></div>
          <div class="star star-6"></div>
        </div>
      </div>
    </div>


    <div class="col-lg-4">
      <div class="collection-card" data-scheme="purple">
        <div class="background-image">
          <img src="img2.png" alt="Best Occasion Gifts Collections background">
        </div>
        <div class="card-content">
          <div class="top-content">
            <div class="category-badge badge-purple">
              Occasion Gifts
            </div>
            <h3 class="card-title">Best Occasion Gifts Collections</h3>
          </div>
          <button class="btn btn-collection btn-purple">
            Discover Now
          </button>
        </div>
        <div class="decorative-elements elements-purple">
          <div class="star star-1"></div>
          <div class="star star-2"></div>
          <div class="star star-3"></div>
          <div class="star star-4"></div>
          <div class="star star-5"></div>
          <div class="star star-6"></div>
        </div>
      </div>
    </div>


    <div class="col-lg-4">
      <div class="collection-card" data-scheme="orange">
        <div class="background-image">
          <img src="img3.png" style="opacity: 60%;" alt="Combo Sets Gift Box background">
        </div>
        <div class="card-content">
          <div class="top-content">
            <div class="category-badge badge-orange">
              Occasion Gifts
            </div>
            <h3 class="card-title">Combo Sets Gift Box Up <br>To 50% Off</h3>
          </div>
          <button class="btn btn-collection btn-orange">
            Discover Now
          </button>
        </div>
        <div class="decorative-elements elements-orange">
          <div class="star star-1"></div>
          <div class="star star-2"></div>
          <div class="star star-3"></div>
          <div class="star star-4"></div>
          <div class="star star-5"></div>
          <div class="star star-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>
