<div class="trusted-companies-section">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">
          <span class="trusted-text p-2">Trusted By Over</span> 
          <span class="highlight-number">4.5k+</span> 
          <span class="companies-text">Companies</span>
        </h3>
        
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <div class="companies-logos-container">
          <div class="companies-logos sliding">

            <div class="logo-item">
              <img src="comp1.png" alt="Coconut Cosmetics" class="company-logo">
            </div>
            <div class="logo-item">
              <img src="comp2.png" alt="Ingoude Company" class="company-logo">
            </div>
            <div class="logo-item">
              <img src="comp3.png" alt="Ginyard" class="company-logo">
            </div>
            <div class="logo-item">
              <img src="comp4.png" alt="Velvet Cosmetics" class="company-logo">
            </div>
            <div class="logo-item">
              <img src="comp5.png" alt="Ingoude Company" class="company-logo">
            </div>
            <div class="logo-item">
              <img src="comp6.png" alt="Habuy Furniture" class="company-logo">
            </div>

            <div class="logo-item">
              <img src="comp1.png" alt="Coconut Cosmetics" class="company-logo">
            </div>
            <div class="logo-item">
              <img src="comp2.png" alt="Ingoude Company" class="company-logo">
            </div>
            <div class="logo-item">
              <img src="comp3.png" alt="Ginyard" class="company-logo">
            </div>
            <div class="logo-item">
              <img src="comp4.png" alt="Velvet Cosmetics" class="company-logo">
            </div>
            <div class="logo-item">
              <img src="comp5.png" alt="Ingoude Company" class="company-logo">
            </div>
            <div class="logo-item">
              <img src="comp6.png" alt="Habuy Furniture" class="company-logo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>