<app-loading-spinner></app-loading-spinner>
<app-navbar></app-navbar>
<app-categories></app-categories>
<app-hero-banner></app-hero-banner>
<app-gift-collections></app-gift-collections>
<app-features></app-features>
<app-premium-gifts></app-premium-gifts>
<app-popular-items></app-popular-items>
<app-about-us></app-about-us>
<app-gallery></app-gallery>
<app-testimonials></app-testimonials>
<app-trusted-companies></app-trusted-companies>
<app-footer></app-footer>

<app-login></app-login>
<app-signup></app-signup>
<app-forgot-password></app-forgot-password>
<app-verify-code></app-verify-code>
<app-reset-password></app-reset-password>

